extends layout

block content
    h1= title
    p Welcome to #{title}

    - if (message)
        p There was an error: #{message}


    - if (user)
        p #{user.firstName} #{user.lastName} is logged in
        ul
            li
              a(href='/logout') logout
            li
              a(href='/finance') expense list
            li
              a(href='/finance/add') expense add
    - else
        form(action='/login', method='post')
          label
            | Username
            input(name='login')
          label
            | Pass
            input(name='pass')
          input(type='submit')
